BibleReading.Common/Web References/wsLicense/License.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Init">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitResponse">
        <s:complexType />
      </s:element>
      <s:element name="ValidateLicenseAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLicenseAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateLicenseAccessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TickSignal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TickSignalResponse">
        <s:complexType />
      </s:element>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serverName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InitSoapIn">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="InitSoapOut">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLicenseAccessSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLicenseAccess" />
  </wsdl:message>
  <wsdl:message name="ValidateLicenseAccessSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLicenseAccessResponse" />
  </wsdl:message>
  <wsdl:message name="TickSignalSoapIn">
    <wsdl:part name="parameters" element="tns:TickSignal" />
  </wsdl:message>
  <wsdl:message name="TickSignalSoapOut">
    <wsdl:part name="parameters" element="tns:TickSignalResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:portType name="LicenseSoap">
    <wsdl:operation name="Init">
      <wsdl:input message="tns:InitSoapIn" />
      <wsdl:output message="tns:InitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLicenseAccess">
      <wsdl:input message="tns:ValidateLicenseAccessSoapIn" />
      <wsdl:output message="tns:ValidateLicenseAccessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TickSignal">
      <wsdl:input message="tns:TickSignalSoapIn" />
      <wsdl:output message="tns:TickSignalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LicenseSoap" type="tns:LicenseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Init">
      <soap:operation soapAction="http://tempuri.org/Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLicenseAccess">
      <soap:operation soapAction="http://tempuri.org/ValidateLicenseAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TickSignal">
      <soap:operation soapAction="http://tempuri.org/TickSignal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LicenseSoap12" type="tns:LicenseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Init">
      <soap12:operation soapAction="http://tempuri.org/Init" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLicenseAccess">
      <soap12:operation soapAction="http://tempuri.org/ValidateLicenseAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TickSignal">
      <soap12:operation soapAction="http://tempuri.org/TickSignal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="License">
    <wsdl:port name="LicenseSoap" binding="tns:LicenseSoap">
      <soap:address location="http://localhost/AgroERP_WS/License.asmx" />
    </wsdl:port>
    <wsdl:port name="LicenseSoap12" binding="tns:LicenseSoap12">
      <soap12:address location="http://localhost/AgroERP_WS/License.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>